@import "tailwindcss";

:root {
  --pri: oklch(49.1% 0.27 292.581);
  --priHover: oklch(41.068% 0.22321 293.49);
}

@theme {
  --color-pri: var(--pri);
  --color-priHover: var(--priHover);
}

main {
  padding: 1rem;
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
